.banner {
    background: url( 'https://images.pexels.com/photos/5699451/pexels-photo-5699451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2' );
    background-repeat: no-repeat;
    background-size: cover        
}